.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--typescale__10__size);
  line-height: var(--typescale__10__lineheight);
  letter-spacing: var(--typescale__10__tracking);
  font-weight: var(--typeface__weight__SemiBold);
  border-radius: var(--rounded-full);
  min-width: var(--size__16);
  height: var(--size__16);
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
}

.dot {
  width: var(--size__8);
  min-width: var(--size__8);
  height: var(--size__8);
  padding: 0;
}

.number,
.text {
  min-width: var(--size__16);
  height: var(--size__16);
  padding: 0 var(--size__4);
}

.red {
  background-color: var(--badge__background__badgebgred);
  color: var(--badge__text__badgetext);
}
.dot.red {
  background-color: var(--badge__background__badgebgred);
}

.green {
  background-color: var(--badge__background__badgebggreen);
  color: var(--badge__text__badgetext);
}
.dot.green {
  background-color: var(--badge__background__badgebggreen);
}

.blue {
  background-color: var(--badge__background__badgebgblue);
  color: var(--badge__text__badgetext);
}
.dot.blue {
  background-color: var(--badge__background__badgebgblue);
}

.grey {
  background-color: var(--badge__background__badgebggrey);
  color: var(--badge__text__badgetext);
}
.dot.grey {
  background-color: var(--badge__background__badgebggrey);
}

.white {
  background-color: var(--badge__background__badgebgwhite);
  color: var(--badge__text__badgetextinv);
}
.dot.white {
  background-color: var(--badge__background__badgebgwhite);
}

.black {
  background-color: var(--badge__background__badgebgblack);
  color: var(--badge__text__badgetext);
}
.dot.black {
  background-color: var(--badge__background__badgebgblack);
}

.containerWrapped {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.wrapper {
  position: absolute;
  z-index: 10;
}

/* top-right */
.topRight {
  top: -8px;
  right: -8px;
}
.topRight .dot {
  top: -4px;
  right: -4px;
}

/* top-left */
.topLeft {
  top: -8px;
  left: -8px;
}
.topLeft .dot {
  top: -4px;
  left: -4px;
}

/* bottom-right */
.bottomRight {
  bottom: -8px;
  right: -8px;
}

/* bottom-left */
.bottomLeft {
  bottom: -8px;
  left: -8px;
}