.container {
  display: inline-flex;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.spinner {
  animation: spin 0.8s linear infinite;
  transform-origin: center; 
  will-change: transform;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Default .track {
  stroke: var(--circularprogress__cptrackdefault);
}
.Default .thumb {
  stroke: var(--circularprogress__cpthumbdefault);
}

.Inverse .track {
  stroke: var(--circularprogress__cptrackinv);
}
.Inverse .thumb {
  stroke: var(--circularprogress__cpthumbinv);
}
