.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-full);
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.sizeSm {
  width: 32px;
  height: 32px;
}
.sizeMd {
  width: 40px;
  height: 40px;
}
.sizeLg {
  width: 48px;
  height: 48px;
}

.textSm {
  font-weight: var(--typeface__weight__Medium);
  font-size: var(--typescale__14__size);
  line-height: var(--typescale__14__lineheight);
  letter-spacing: var(--typescale__14__tracking);
}
.textMd {
  font-weight: var(--typeface__weight__Medium);
  font-size: var(--typescale__16__size);
  line-height: var(--typescale__16__lineheight);
  letter-spacing: var(--typescale__16__tracking);
}
.textLg {
  font-weight: var(--typeface__weight__Medium);
  font-size: var(--typescale__18__size);
  line-height: var(--typescale__18__lineheight);
  letter-spacing: var(--typescale__18__tracking);
}

.Profile {
  background-color: #ccc;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Initial {
  background-color: var(--colors__surface__info__bginfo);
  color: white;
  text-transform: uppercase;
}
.filled {
  background-color: var(--colors__surface__info__fginfolow);
  color: var(--colors__icon__iconinfo);
}
.outlined {
  background-color: white;
  outline: 1px solid var(--colors__border__primary__borderprimaryhigh);
  color: var(--colors__icon__iconprominent);
}

.multipleWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: var(--avatar-multiple-height);
}

.multipleWrapper .avatar {
  position: absolute;
  box-sizing: content-box;
  background-color: white;
  border: 1px solid var(--colors__border__primary__borderprimaryhigh);
  color: var(--colors__icon__iconprominent);
  transform: scale(0.53);
  top: 0;
  bottom: 0;
  margin: auto;
}

.child1 {
  z-index: 10;
}
.child2 {
  z-index: 20;
}
.child3 {
  z-index: 30;
}

/* Size Small (32px) */
.sizeSm.child1 {
  right: 6px;
}
.sizeSm.child2 {
  right: -1px;
}
.sizeSm.child3 {
  left: 6px;
}

/* Size Medium (40px) */
.sizeMd.child1 {
  right: 8px;
}
.sizeMd.child2 {
  right: -1px;
}
.sizeMd.child3 {
  left: 8px;
}

/* Size Large (48px) */
.sizeLg.child1 {
  right: 10px;
}
.sizeLg.child2 {
  right: -1px;
}
.sizeLg.child3 {
  left: 10px;
}
