.nile-accordion-container {
  display: flex;
  flex-direction: column;
  gap: var(--size__16);
  min-width: 500px;
}

.nile-accordion-item {
  border: 1px solid var(--colors__border__primary__borderprimaryhigh);
  border-radius: var(--rounded-xl);
  overflow: hidden;
}

.nile-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size__16);
  border: none;
  cursor: pointer;
  padding-inline: var(--size__16);
}

.nile-accordion-item .nile-accordion-header {
  padding-top: var(--size__12);
  padding-bottom: var(--size__12);
}

.nile-accordion-item.open .nile-accordion-header {
  padding-top: var(--size__16);
  padding-bottom: var(--size__16);
}

.nile-accordion-header-text {
  display: flex;
  flex-direction: column;
  gap: var(--size__4);
  width: 100%;
}

.nile-accordion-header-text .title {
  color: var(--colors__text__primary__texttitle);
  font-size: var(--typescale__16__size);
  line-height: var(--typescale__16__lineheight);
  font-weight: var(--typeface__weight__SemiBold);
  letter-spacing: var(--typescale__16__tracking);
}

.nile-accordion-header-text .subtext {
  color: var(--colors__text__primary__textbody);
  font-size: var(--typescale__14__size);
  line-height: var(--typescale__14__lineheight);
  letter-spacing: var(--typescale__14__tracking);
}

.accordion-icon {
  display: flex;
  justify-content: center;
}

.nile-accordion-content-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.nile-accordion-item.open .nile-accordion-content-wrapper {
  max-height: 500px;
}

.nile-accordion-content {
  padding: 0 var(--size__16) var(--size__16) var(--size__16);
}

.content-dummy-wrapper {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--colors__border__info__borderinfohigh);
  background: var(--colors__surface__info__fginfolow);
  align-self: stretch;
  height: 120px;
  border-radius: var(--rounded-lg);
}

.content-dummy-wrapper p {
  color: var(--colors__text__info__textinfo);
  font-size: var(--typescale__14__size);
  line-height: var(--typescale__14__lineheight);
  letter-spacing: var(--typescale__14__tracking);
  font-weight: var(--typeface__weight__Regular);
}
