.banner {
  min-width: 456px;
  max-width: 100%;
  padding: var(--size__12);
  border-radius: var(--rounded-lg);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--size__8) var(--size__16);
  box-sizing: border-box;
}

.footer {
  grid-column: 1 / -1;
  padding-top: var(--size__8);
  display: flex;
  justify-content: flex-end;
  gap: var(--size__12);
}

.Outlined {
  border: 1px solid;
}
.sideBorder {
  position: relative;
}
.sideBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  border-radius: 8px 0 0 8px;
}

.Info.Outlined {
  background: var(--banner__info__background__bannerbg);
  border-color: var(--banner__info__border__bannerborderlow);
}
.Success.Outlined {
  background: var(--banner__success__background__bannerbg);
  border: 1px solid var(--banner__success__border__bannerborderlow);
}
.Warning.Outlined {
  background: var(--banner__warning__background__bannerbg);
  border: 1px solid var(--banner__warning__border__bannerborderlow);
}
.Error.Outlined {
  background: var(--banner__error__background__bannerbg);
  border: 1px solid var(--banner__error__border__bannerborderlow);
}
.General.Outlined {
  background: var(--banner__general__background__bannerbg);
  border: 1px solid var(--banner__general__border__bannerborderlow);
}

.Info.sideBorder {
  background: var(--banner__info__background__bannerbg);
}
.Info.sideBorder::before {
  background: var(--banner__info__border__bannerborder);
}
.Success.sideBorder {
  background: var(--banner__success__background__bannerbg);
}
.Success.sideBorder::before {
  background: var(--banner__success__border__bannerborder);
}
.Warning.sideBorder {
  background: var(--banner__warning__background__bannerbg);
}
.Warning.sideBorder::before {
  background: var(--banner__warning__border__bannerborder);
}
.Error.sideBorder {
  background: var(--banner__error__background__bannerbg);
}
.Error.sideBorder::before {
  background: var(--banner__error__border__bannerborder);
}
.General.sideBorder {
  background: var(--banner__general__background__bannerbg);
}
.General.sideBorder::before {
  background: var(--banner__general__border__bannerborder);
}

.content {
  grid-column: 1 / 2;
  display: flex;
  align-items: flex-start;
  gap: var(--size__12);
}

.icon {
  flex-shrink: 0;
}

.icon svg {
  stroke-width: 2;
}

.Info .icon {
  color: var(--banner__info__icon__bannericoninfo);
}
.Success .icon {
  color: var(--banner__success__icon__bannericonsuccess);
}
.Warning .icon {
  color: var(--banner__warning__icon__bannericonwarning);
}
.Error .icon {
  color: var(--banner__error__icon__bannericonerror);
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--size__4);
}

.title {
  font-size: var(--typescale__14__size);
  font-weight: var(--typeface__weight__SemiBold);
  line-height: var(--typescale__14__lineheight);
  letter-spacing: var(--typescale__14__tracking);
}

.titleInfo {
  color: var(--banner__info__text__bannertexttitle);
}
.titleSuccess {
  color: var(--banner__success__text__bannertexttitle);
}
.titleWarning {
  color: var(--banner__warning__text__bannertexttitle);
}
.titleError {
  color: var(--banner__error__text__bannertexttitle);
}
.titleGeneral {
  color: var(--banner__general__text__bannertexttitle);
}

.subtitle {
  font-size: var(--typescale__14__size);
  line-height: var(--typescale__14__lineheight);
  letter-spacing: var(--typescale__14__tracking);
  color: var(--banner__text__bannertextsubtitle);
}

.trailingActions {
  grid-column: 2 / 3;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-shrink: 0;
}

.close {
  cursor: pointer;
  color: var(--banner__icon__bannericondismiss);
  align-self: flex-start;
}

.showButton {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 6px 10px;
  border-radius: var(--rounded-md);
  cursor: pointer;
  font-size: 13px;
  color: #000000;
}
